body{
    font-family: "Poppins";
    margin: 0;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
.header__content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 35px 0;
}
.header__content-logo{
    color: var(--primary-default, #5F2EEA);
font-size: 34px;
font-weight: 700;
line-height: 55px; 
text-decoration: none;
}
@media screen and (max-width:337px) {
    .header__content{
        display: flex;
        justify-content: center;

    }
    
}
